/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 */

.card-cliente-parent,
.card-client-farewell {
  display: flex;
  background-color: rgba(199, 218, 218, 0.253);
  /* text-align: center; */
  justify-content: center;
}
.card-cliente-parent img {
  margin-bottom: 30px; /* he de colocar un % del ¿vh? ancho o alto de la pantalla */
}

/* productosTodos */
.App {
  display: flex;
  align-items: center;
  width: 320px;
  border: solid red 2px;
  flex-direction: column;
}
.flex-div {
  display: flex;
  width: 280px;
  border: solid rgb(168, 79, 190) 2px;
  flex-direction: column;
  align-items: center;
}

/* 
.boton-editar{
  background-color:#faad14 !important; 
}
.boton-cancel{
  background-color:#1890ff !important;
}
.boton-guardar{
  background-color: #52c41a !important;
} */
