.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-cliente-parent,
.card-client-farewell {
  display: flex;
  background-color: rgba(199, 218, 218, 0.253);
  /* text-align: center; */
  justify-content: center;
}
.card-cliente-parent img {
  margin-bottom: 30px; /* he de colocar un % del ¿vh? ancho o alto de la pantalla */
}

/* productosTodos */
.App {
  display: flex;
  align-items: center;
  width: 320px;
  border: solid red 2px;
  flex-direction: column;
}
.flex-div {
  display: flex;
  width: 280px;
  border: solid rgb(168, 79, 190) 2px;
  flex-direction: column;
}

/* 
.boton-editar{
  background-color:#faad14 !important; 
}
.boton-cancel{
  background-color:#1890ff !important;
}
.boton-guardar{
  background-color: #52c41a !important;
} */
.ionicon {
  width: 30px;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  background-color: rgb(193, 203, 221);
}

.seacher {
  border-radius: 500px;
  text-align: center;
  border: none;
}

.seacher::placeholder {
  font-size: 10px;
}

.icon-input .icon {
  position: absolute;
  margin: 7px;
}

.navegation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navegation-select {
  display: inline;
}

.navegation-links {
  display: none;
}

footer {
  padding: 7px 0px;
  background-color: rgb(193, 203, 221);
  display: grid;
  grid-template-columns: 1fr;
  text-align: start;
}

footer .navegation-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 10px;
}

.footer-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

@media (min-width: 768px) {
  .search-container {
    justify-content: end;
  }
  .navegation {
    align-items: center;
    justify-content: space-between;
  }
  .navegation-links {
    display: flex;
  }

  .navegation-links a {
    margin: 0px 10px;
  }
  .navegation-select {
    display: none;
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .App {
    width: 768px;
    border: solid rgb(185, 111, 111) 2px;
  }
  .flex-div {
    width: 724px;
    border: solid rgb(168, 79, 190) 2px;
  }
}

@media (min-width: 1024px) {
  .App {
    width: 1024px;
    border: solid rgb(185, 111, 111) 2px;
  }
  .flex-div {
    width: 940px;
    border: solid rgb(168, 79, 190) 2px;
  }
}
